<div class="card">
  <div class="card-body">
    <p>Web app where you can save notes, view all your notes or update/delete your current notes.</p>
    <img src="/img/about.jpg" class="d-block mx-auto w-50 rounded">
  </div>
</div>